@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sky{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}
section{
  min-height: 768px;
}
@keyframes rolling {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(100vw) rotate(540deg); /* 1,5 dönüş sağa doğru */
  }
  100% {
    transform: translateX(0) rotate(1080deg); /* 3 dönüş sola doğru */
  }
}

.animate-rolling {
  animation: rolling 10s linear infinite;
}