@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sky{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}
section{
  min-height: 700px;
}
progress{
  width:100%;
}
.sec{
    background: linear-gradient(145deg, #047857, #60a5fa, #be123c); /* Gece mavisi tonları */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.dark{
  color: red; /* Slate Gray */
}